<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <title>Travel App</title>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </head>
    <header>
        <h1>Travel App</h1>
    </header>
    <body>
        <section id="inputSection">
            <h3>Enter your travel information</h3>
            <form id="inputForm">
                <div>
                    <label for="cityInput">Destination</label>
                    <input type="text" name="cityInput" id="cityInput"/>
                </div>
                <div>
                    <label for="startDateInput">Start Date</label>
                    <input type="date" name="startDateInput" id="startDateInput"/>
                </div>
                <div>
                    <label for="endDateInput">End Date</label>
                    <input type="date" name="endDateInput" id="endDateInput" />
                </div>
                <button id="submitButton">Submit</button>
            </form>
        </section>

        <section id="result" class="hidden">
            <h3>Your <span id="tripLength"></span>-day trip to <span id="city"></span>, <span id="country"></span> is <span id="countdown"></span> days away</h3>
            <h4 id="weatherTitle"></h4>
            <div id="weatherSummary"></div>
            <div>Low Temperature: <span id="lowTemp"></span></div>
            <div>High Temperature: <span id="highTemp"></span></div>
        </section>

        <section>
            <div><img id="cityImage"></img></div>
        </section>
    </body>
</html>