<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <title>Travel App</title>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </head>
    <body>
        <header>
            <h1>Travel App</h1>
        </header>

        <section id="inputSection">
            <h3>Enter your travel information</h3>
            <div id="inputForm">
                <div id="cityContainer">
                    <label for="cityInput">Destination</label>
                    <input type="text" name="cityInput" id="cityInput" required/>
                </div>
                <div id="dateContainer">
                    <div class="datePicker">
                        <label for="startDateInput">Start Date</label>
                        <input type="date" name="startDateInput" id="startDateInput" required/>
                    </div>
                    <div class="datePicker">
                        <label for="endDateInput">End Date</label>
                        <input type="date" name="endDateInput" id="endDateInput" required/>
                    </div>
                </div>
                
                <button id="submitButton">Submit</button>
            </div>
        </section>

        <section id="result" class="hidden">
            <img id="cityImage"></img>
            <div id="resultBody">
                <h2 id="destination"></h2>
                <h4><span id="departure"></span> - <span id="return"></span></h4>
                <div>Your <span id="tripLength"></span>-day trip is <span id="countdown"></span> days away</div>
                <h4 id="weatherTitle"></h4>
                <div id="weatherSummary"></div>
                <div>Temperature: <span id="highTemp"></span> | <span id="lowTemp"></span></div>
            </div>
        </section>

    </body>
</html>